Maps/
LOGS/
*.SCC
*.doc
*.jpg
*.dat
*.exe
*.log
/Dat
/Dat/AreasStats.dat
/Dat/ArmadurasFaccionarias.dat
/Dat/ArmadurasHerrero.dat
/Dat/ArmasHerrero.dat
/Dat/Balance.dat
/Dat/BanIps.dat
/Dat/Ciudades.Dat
/Dat/Head.dat
/Dat/Hechizos.dat
/Dat/Help.dat
/Dat/Invokar.dat
/Dat/Map.dat
/Dat/Motd.ini
/Dat/NPCs.dat
/Dat/NombresInvalidos.txt
/Dat/ObjCarpintero.dat
/Dat/Pretorianos.dat
/Dat/QUESTS.DAT
/Dat/RECORDS.DAT
/Dat/apuestas.dat
/Dat/bkNPCs.dat
/Dat/consultas.dat
/Dat/obj.dat
Server.ini
/Server.ini
/*.vbw
*.csi
/SERVER.vbw
/docker/container
/.env
/WorldBackUp
